{% extends "cattocms/templates/sampark_base.html" %}

{% block content %}

<style>
  .card {
            display: flex;
            width: 100%;
            height: calc((80vw - 16px) / 3); /* Ensures the height is 1/3rd of the width */
            max-height: calc((800px - 16px) / 3); 
            /* padding-bottom: 33.33%; /* 1/3 of the width */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            background-color: #fff;
            overflow: hidden;
            border-radius: 8px;
        }
        .card-content {
            display: flex;
            width: 100%;
            height: 100%;
        }
        .card img {
            width: 33.33%;
            height: 100%;
            object-fit: cover;
        }
        .divider {
            width: 4px;
            background-color: #ffb600;
        }
        .card-details {
            width: calc(66.66% - 4px);
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .card-title {
            font-size: 1.5em;
            font-weight: bold;
            margin: 0;
        }
        .card-text {
            font-size: 1em;
            color: #555;
        }
        .card-amount {
            font-size: 1.2em;
            color: #333;
            margin-top: 10px;
        }
        .card a {
            padding: 10px;
            border: none;
            width: 200px;
            background-color: #ffb600;
            color: white;
            font-size: 1em;
            cursor: pointer;
            border-radius: 5px;
        }
        .card a:hover {
            background-color: #ebac0c;
        }
  .verified-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 128, 0, 0.7); /* Semi-transparent green background */
    color: white;
    padding: 5px 10px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  .verified-badge i {
    margin-right: 5px;
  }
  @media only screen and (min-width: 768px) {
            .card {
                display: flex;
                flex-direction: row;
                height: calc((80vw - 16px) / 3); /* Ensures the height is 1/3rd of the width */
            }
            .card img {
                width: 33.33%;
                height: 100%;
            }
            .card-details {
                width: calc(66.66% - 4px);
                padding: 20px;
            }
        }

        @media only screen and (max-width: 767px) {
            .card {
                width: 100%;
            }
            .card img {
                width: 100%;
                height: auto;
            }
        }
</style>

<section id="main-container" class="main-container">
  <div class="container">
    <h2 class="text-center">Fund a Beneficiary</h2>
    <p style="text-align: center;">Real Needs, Genuine Stories, Verified by dedicated volunteers.</p>
    <br>
    {{ CaseCard(caselist) }}

  </div><!-- Conatiner end -->
</section><!-- Main container end -->

{% endblock %}

{% macro CaseCard(caselist) %}
{% if caselist | length %}
	{% for case in caselist %}
    <div class="card">
      <div class="verified-badge">
        <i class="fas fa-check-circle"></i> Verified
      </div>
      <div class="card-content">
        <img src="{{ case.case_image }}" alt="Initiative Photo">
        <div class="divider"></div>
        <div class="card-details">
            <p class="card-title">{{ case.main_title }}</p>
            <p class="card-text">Verified by {{case.sathi_name}}, Sathi of the underprivileged.</p>
            <p class="card-amount">Amount: ₹{{ case.target_amount }} for {{case.raising_for}}</p>
            <a href="/fund/{{ case.name }}" class="btn btn-primary">Fund Now</a>
        </div>
      </div>
    </div>
	{% endfor %}
{% else %}
	<p class="text-muted mt-3">
		No cases right now!
	</p>
{% endif %}
{% endmacro %}