{% extends 'templates/sampark_base.html' %}

{% block content %}

<body>
<div class="body-inner">


<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style="background-image:url(assets/cattocms/constra/images/slider-main/s11.jpg)">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">Three years of</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">Empowering Communities, Transforming Lives</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                    <a href="/about" class="slider btn btn-primary">Our Story</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(assets/cattocms/constra/images/banner/banner7.png)">
    <div class="slider-content text-right">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h3 class="slide-sub-title" data-animation-in="fadeIn">Bridging needs with solutions</h3>
                <div data-animation-in="slideInLeft">
                    <a href="volunteer" class="slider btn btn-primary border" aria-label="learn-more-about-us">Join us</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(assets/cattocms/constra/images/slider-main/image47.jpeg)">
    <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <!--<h2 class="slide-title-box" data-animation-in="slideInDown">World Class Service</h2>
                <h3 class="slide-title" data-animation-in="fadeIn">abbc</h3>-->
                <h3 class="slide-sub-title" data-animation-in="slideInLeft">Creating Awareness, Facilitating Access</h3>
                <p data-animation-in="slideInRight">
                    <a href="/services" class="slider btn btn-primary border">Our Services</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(assets/cattocms/constra/images/slider-main/image46.jpeg)">
    <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <!--<h2 class="slide-title-box" data-animation-in="slideInDown">World Class Service</h2>
                <h3 class="slide-title" data-animation-in="fadeIn">abbc</h3>-->
                <h3 class="slide-sub-title" data-animation-in="slideInLeft">Collaboration for impact</h3>
                <!--<p data-animation-in="slideInRight">
                    <a href="services.html" class="slider btn btn-primary border">Our Services</a>
                </p>-->
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<section class="call-to-action-box no-padding">
  <div class="container">
    <div class="action-style-box">
        <div class="row align-items-center">
          <div class="col-md-9 text-center text-md-left">
            <div class="call-to-action-text">
              <p style="font-size: 18px;">Ever felt helpless when someone needed support? Now you can make a difference! Click the button, share the details, and we'll connect them with the right resources</p>
            </div>            
        </div>
          <div class="col-md-3 text-center mt-3 mt-md-0">
              <div class="call-to-action-btn">
                <a class="btn btn-dark" href="concern">Raise a Concern</a>
              </div>
          </div><!-- col end -->
        </div><!-- row end -->
    </div><!-- Action style box -->
  </div><!-- Container end -->
</section><!-- Action end -->

<section id="ts-features" class="ts-features">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <div class="ts-intro">
              <h2 class="into-title">About Us</h2>
              <h3 class="into-sub-title">A platform for solving social problems</h3>
              <p>Sampark Sathi Foundation is the only aggregator in India that connects people living in the underserved communities to NGOs/government institutions that can solve their problems across health, education, human rights, skill and livelihood and government welfare schemes. 
                </p>
          </div><!-- Intro box end -->

          <div class="gap-20"></div>

          <div class="row">
              <div class="col-md-6">
                <div class="ts-service-box">
                    <span class="ts-service-icon">
                      <i class="fas fa-trophy"></i>
                    </span>
                    <div class="ts-service-box-content">
                      <h3 class="service-box-title">We've Reputation for Excellence</h3>
                    </div>
                </div><!-- Service 1 end -->
              </div><!-- col end -->

              <div class="col-md-6">
                <div class="ts-service-box">
                    <span class="ts-service-icon">
                      <i class="fas fa-sliders-h"></i>
                    </span>
                    <div class="ts-service-box-content">
                      <h3 class="service-box-title">We Build Partnerships</h3>
                    </div>
                </div><!-- Service 2 end -->
              </div><!-- col end -->
          </div><!-- Content row 1 end -->

          <div class="row">
              <div class="col-md-6">
                <div class="ts-service-box">
                    <span class="ts-service-icon">
                      <i class="fas fa-thumbs-up"></i>
                    </span>
                    <div class="ts-service-box-content">
                      <h3 class="service-box-title">Guided by Commitment</h3>
                    </div>
                </div><!-- Service 1 end -->
              </div><!-- col end -->

              <div class="col-md-6">
                <div class="ts-service-box">
                    <span class="ts-service-icon">
                      <i class="fas fa-users"></i>
                    </span>
                    <div class="ts-service-box-content">
                      <h3 class="service-box-title">A Team of Volunteers</h3>
                    </div>
                </div><!-- Service 2 end -->
              </div><!-- col end -->
          </div><!-- Content row 1 end -->
        </div><!-- Col end -->

        <div class="col-lg-6 mt-4 mt-lg-0">
          <h3 class="into-sub-title">Our Vision</h3>
          <p>Our vision is to make millions of individuals aware of and better able to access the resources offered by NGOs and governmental institutions.</p>
          <div class="accordion accordion-group" id="our-values-accordion">
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Empowered Communities
                      </button>
                    </h2>
                </div>
              
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#our-values-accordion">
                    <div class="card-body">
                      We envision communities where every individual feels empowered to seek the support they need, knowing that help is always within reach.
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Trusted Companionship
                      </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#our-values-accordion">
                    <div class="card-body">
                      Our goal is to ensure that no one faces their challenges alone, providing trusted companions to guide and support them every step of the way.
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Sustainable Impact
                      </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#our-values-accordion">
                    <div class="card-body">
                      We aim to create lasting change by fostering self-sufficiency and resilience within communities, turning short-term assistance into long-term improvement.
                    </div>
                </div>
              </div>
          </div>
          <!--/ Accordion end -->

        </div><!-- Col end -->
    </div><!-- Row end -->
  </div><!-- Container end -->
</section><!-- Feature are end -->

<section id="facts" class="facts-area dark-bg">
  <div class="container">
    <div class="facts-wrapper">
        <div class="row">
          <div class="col-md-3 col-sm-6 ts-facts">
              <div class="ts-facts-img">
                <img loading="lazy" src="assets/cattocms/constra/images/icon-image/fact1.png" alt="facts-img">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="42636">0</span></h2>
                <h3 class="ts-facts-title">Cases resolved</h3>
              </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="assets/cattocms/constra/images/icon-image/fact2.png" alt="facts-img">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="750">0</span>+</h2>
                <h3 class="ts-facts-title">Volunteers</h3>
              </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="assets/cattocms/constra/images/icon-image/fact3.png" alt="facts-img">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="67200">0</span></h2>
                <h3 class="ts-facts-title">Volunteering Hours</h3>
              </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="assets/cattocms/constra/images/icon-image/fact4.png" alt="facts-img">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="150">0</span>+</h2>
                <h3 class="ts-facts-title">Slums Impacted</h3>
              </div>
          </div><!-- Col end -->

        </div> <!-- Facts end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Facts end -->



<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mt-5 mt-lg-0">

        <h3 class="column-title">Our Supporters</h3>

        <div class="row all-clients">
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/10.png" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 1 end -->

            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/image16.png" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 2 end -->

            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/11.png" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 3 end -->

            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/14.png" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 4 end -->

            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/13.png" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 5 end -->

        </div><!-- Clients row end -->

      </div><!-- Col end -->
        <div class="col-lg-6">
          <h3 class="column-title">Volunteer Testimonials</h3>

          <div id="testimonial-slide" class="testimonial-slide">
              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      During my six-month tenure as a Sathi, I've successfully completed 13 cases, which included voter ID and ABHA card registrations, as well as conducting educational sessions on menstrual hygiene. 
                      These experiences have honed my coordination and communication skills, while also providing valuable insights into the operations of NGOs. 
                      I extend my heartfelt gratitude to the Sampark Sathi Foundation for granting me these precious opportunities.
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="assets/cattocms/constra/images/team/team2.jpg" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Anchal Soni</h3>
                          <span class="quote-subtext">Volunteer</span>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 1 end -->

              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      Engaging in impactful initiatives, such as the Self Employed Tailor program and ABHA initiative, allowed me to contribute meaningfully to community betterment. 
                      Through volunteering, I acquired skills in Stakeholder Analysis, Community Volunteer Creation, Need Assessment, and Mobilization. Witnessing the Foundation's dedication to social justice and upliftment in underprivileged communities, 
                      I believe in the potential for its model to extend beyond Delhi and make a nationwide impact.
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="assets/cattocms/constra/images/team/team5.jpg" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Siddhi</h3>
                          <span class="quote-subtext">Volunteer</span>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 2 end -->

              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      Guided by inspiring mentors, I've contributed to impactful cases, from arranging wheelchairs to organizing eye surgeries and raising awareness on menstrual hygiene. 
                      Assisting with crucial document procurement and facilitating rehabilitation admissions has been both challenging and deeply meaningful. 
                      Engaging in volunteer recruitment has amplified our collective positive impact.
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="assets/cattocms/constra/images/team/team8.jpg" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Akash Singh</h3>
                          <span class="quote-subtext">Volunteer</span>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 3 end -->

              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      Volunteering with the Sampark Sathi Foundation has been a rich learning experience. It has taught me problem-solving, effective communication with beneficiaries, and group management. 
                      This experience has been highly beneficial. Witnessing the joy on a beneficiary's face after resolving a case provides a sense of relief and satisfaction. Their blessings and appreciation boost our confidence. 
                      I've handled five cases, including cataract, voter ID, shelter homes, and health camp initiatives.
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="assets/cattocms/constra/images/team/team4.jpg" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Rahul Kumar</h3>
                          <span class="quote-subtext">Volunteer</span>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 4 end -->

          </div>
          <!--/ Testimonial carousel end-->
        </div><!-- Col end -->

    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Content end -->

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <h3 class="column-title">Volunteer With Us</h3>
          <p>At Sampark Sathi, our volunteers are called "Sathis," which means a friend who is there for you when you need them.</p>
          <blockquote><p>A Sathi is more than just a helper; they are a trusted companion dedicated to supporting beneficiaries in every step of their journey.</p></blockquote>
          <div class="col-12">
            <div class="general-btn text-center">
              <a class="btn btn-primary" href="/volunteer">Volunteer</a>
            </div>
          </div>
        </div><!-- Col end -->

        <div class="col-lg-6 mt-5 mt-lg-0">
          
          <div id="page-slider" class="page-slider small-bg">

              <div class="item" style="background-image:url(assets/cattocms/constra/images/slider-pages/image2.jpg)">
                <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                          <h2 class="box-slide-title">Guidance and Support</h2>
                      </div>    
                    </div>
                </div>
              </div><!-- Item 1 end -->

              <div class="item" style="background-image:url(/assets/cattocms/constra/images/slider-pages/image12.jpg)">
                <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                          <h2 class="box-slide-title">Assistance</h2>
                      </div>    
                    </div>
                </div>
              </div><!-- Item 1 end -->

              <div class="item" style="background-image:url(assets/cattocms/constra/images/slider-pages/image26.jpg)">
                <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                          <h2 class="box-slide-title">Advocacy</h2>
                      </div>    
                    </div>
                </div>
              </div><!-- Item 1 end -->
          </div><!-- Page slider end-->          
        

        </div><!-- Col end -->
    </div><!-- Content row end -->

  </div><!-- Container end -->
</section><!-- Main container end -->

<section class="content">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <h3 class="column-title">Beneficiary Testimonials</h3>

          <div id="testimonial-slide" class="testimonial-slide">
              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      As a single parent, I couldn't afford the 3.5 lakh rupees needed for my daughter's surgery. 
                      But Sampark Sathi connected us with the Child Heart Foundation, and they helped us get the treatment for free
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="assets/cattocms/constra/images/benef/benefprof2.jpg" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Anita</h3>
                          <span class="quote-subtext">Neetu's mother</span>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 1 end -->

              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      I am skilled in sewing, but I couldn't afford to buy a sewing machine to start my business. Thanks to Sampark Sathi for connecting me with Goonj and helping me get a sewing machine
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="assets/cattocms/constra/images/benef/benefprof3.jpg" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Roshan</h3>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 2 end -->

              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      Despite having all the necessary documents, I couldn't get a tricycle. Thanks to Sampark Sathi, I was able to receive one from ALIMCO.
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="assets/cattocms/constra/images/benef/benefprof1.jpg" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">Bharat</h3>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 3 end -->

          </div>
          <!--/ Testimonial carousel end-->
        </div><!-- Col end -->

        <div class="col-lg-6 mt-5 mt-lg-0">

          <h3 class="column-title">We Work With</h3>

          <div class="row all-clients">
              <div class="col-sm-4 col-6">
                <figure class="clients-logo">
                    <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/1.jpg" alt="supporters-logo" /></a>
                </figure>
              </div><!-- Client 1 end -->

              <div class="col-sm-4 col-6">
                <figure class="clients-logo">
                    <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/2.jpg" alt="clients-logo" /></a>
                </figure>
              </div><!-- Client 2 end -->

              <div class="col-sm-4 col-6">
                <figure class="clients-logo">
                    <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/3.jpg" alt="clients-logo" /></a>
                </figure>
              </div><!-- Client 3 end -->

              <div class="col-sm-4 col-6">
                <figure class="clients-logo">
                    <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/4.jpg" alt="clients-logo" /></a>
                </figure>
              </div><!-- Client 4 end -->

              <div class="col-sm-4 col-6">
                <figure class="clients-logo">
                    <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/5.jpg" alt="clients-logo" /></a>
                </figure>
              </div><!-- Client 5 end -->

              <div class="col-sm-4 col-6">
                <figure class="clients-logo">
                    <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/6.jpg" alt="clients-logo" /></a>
                </figure>
              </div><!-- Client 6 end -->


              <div class="col-sm-4 col-6">
                <figure class="clients-logo">
                    <a href="#!"><img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/supporters/8.jpg" alt="clients-logo" /></a>
                </figure>
              </div>

          </div><!-- Clients row end -->

        </div><!-- Col end -->

    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Content end -->


<section class="subscribe no-padding">
  <div class="container">
    <div class="row">
        <div class="col-lg-4">
          <div class="subscribe-call-to-acton">
              <h3>Can We Help?</h3>
              <h4>(+91) 704-207-6492</h4>
          </div>
        </div><!-- Col end -->

        <div class="col-lg-8">
          <div class="ts-newsletter row align-items-center">
              <div class="col-md-5 newsletter-introtext">
                <h4 class="text-white mb-0">Newsletter Sign-up</h4>
                <p class="text-white">Latest updates and news</p>
              </div>

              <div class="col-md-7 newsletter-form">
                <form action="#" method="post">
                    <div class="form-group">
                      <label for="newsletter-email" class="content-hidden">Newsletter Email</label>
                      <input type="email" name="email" id="newsletter-email" class="form-control form-control-lg" placeholder="Your email and hit enter" autocomplete="off">
                    </div>
                </form>
              </div>
          </div><!-- Newsletter end -->
        </div><!-- Col end -->

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ subscribe end -->

<section id="news" class="news">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">Our Work</h2>
          <h3 class="section-sub-title">Stories of Impact</h3>
        </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="#" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/benef/image3.jpg" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="#" class="d-inline-block">A Ray of Hope: Surekhan Devi's Visionary Journey with Sathi Khushi</a>
                </h4>
                <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> Jan 20, 2024
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 1st post col end -->

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="#" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/benef/image45.jpg" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="#" class="d-inline-block">A Stick  of Support in Times of Adversity, Paving the Way to Independence</a>
                </h4>
                <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> June 17, 2024
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 2nd post col end -->

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="#" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/benef/image2222.png" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="#" class="d-inline-block">A grandfather who never lost hope in his effort to see his grand daughter with new eyesight</a>
                </h4>
                <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> March 13, 2024
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 3rd post col end -->
    </div>
    <!--/ Content row end -->

    <div class="general-btn text-center mt-4">
        <a class="btn btn-primary" href="/stories">See All Posts</a>
    </div>

  </div>
  <!--/ Container end -->
</section>
<!--/ News end -->

  


  <!-- Javascript Files
  ================================================== -->

  <!-- initialize jQuery Library -->
  
  </div><!-- Body inner end -->
  </body>

  </html>

  {% endblock %}