{% extends "cattocms/templates/sampark_base.html" %}

{% block content %}
<section id="ts-features" class="ts-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mt-4 mt-lg-0">
            <h3 class="into-sub-title">Our Impact</h3>
            <p>See how our initiatives are empowering communities and transforming lives, creating a brighter future for all.</p>
            <img src="assets/cattocms/constra/images/slider-main/s11.jpg" alt="Person 1" style="width: 100%; height: auto;">
          </div><!-- Col end -->
          <div class="col-lg-7">
            <div class="gap-40"></div>
            <div class="">
            
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-check"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">42,636 Cases resolved</h3>
                      </div>
                  </div><!-- Service 1 end -->
                </div><!-- col end -->
  
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-people-group"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">750+ Active Volunteers</h3>
                      </div>
                  </div><!-- Service 2 end -->
                </div><!-- col end -->

                <div class="col-md-6">
                    <div class="ts-service-box">
                        <span class="ts-service-icon">
                          <i class="fas fa-clock"></i>
                        </span>
                        <div class="ts-service-box-content">
                          <h3 class="service-box-title">67,200 Volunteering hours</h3>
                        </div>
                    </div><!-- Service 2 end -->
                  </div><!-- col end -->
                  <div class="col-md-6">
                    <div class="ts-service-box">
                        <span class="ts-service-icon">
                          <i class="fas fa-handshake"></i>
                        </span>
                        <div class="ts-service-box-content">
                          <h3 class="service-box-title">110+ Partner NGOs</h3>
                        </div>
                    </div><!-- Service 1 end -->
                  </div><!-- col end -->
    
                  <div class="col-md-6">
                    <div class="ts-service-box">
                        <span class="ts-service-icon">
                          <i class="fas fa-indian-rupee-sign"></i>
                        </span>
                        <div class="ts-service-box-content">
                          <h3 class="service-box-title"> ₹ 1.67 Crore Beneficiary money saved</h3>
                        </div>
                    </div><!-- Service 2 end -->
                  </div><!-- col end -->
  
                  <div class="col-md-6">
                      <div class="ts-service-box">
                          <span class="ts-service-icon">
                            <i class="fas fa-house-circle-check"></i>
                          </span>
                          <div class="ts-service-box-content">
                            <h3 class="service-box-title">110+ Slums Covered</h3>
                          </div>
                      </div><!-- Service 2 end -->
                    </div><!-- col end -->
            </div><!-- Content row 1 end -->
          </div><!-- Col end -->
  
          
      </div><!-- Row end -->
    </div><!-- Container end -->
  </section><!-- Feature are end -->

  <section id="news" class="news">
    <div class="container">
      <div class="row text-center">
          <div class="col-12">
            <h2 class="section-title">Our Work</h2>
            <h3 class="section-sub-title">Stories of Impact</h3>
          </div>
      </div>
      <!--/ Title row end -->
  
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="latest-post">
                <div class="latest-post-media">
                  <a href="#" class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/benef/image3.jpg" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a href="#" class="d-inline-block">A Ray of Hope: Surekhan Devi's Visionary Journey with Sathi Khushi</a>
                  </h4>
                  <div class="latest-post-meta">
                      <span class="post-item-date">
                        <i class="fa fa-clock-o"></i> Jan 20, 2024
                      </span>
                  </div>
                </div>
            </div><!-- Latest post end -->
          </div><!-- 1st post col end -->
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="latest-post">
                <div class="latest-post-media">
                  <a href="#" class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/benef/image45.jpg" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a href="#" class="d-inline-block">A Stick  of Support in Times of Adversity, Paving the Way to Independence</a>
                  </h4>
                  <div class="latest-post-meta">
                      <span class="post-item-date">
                        <i class="fa fa-clock-o"></i> June 17, 2024
                      </span>
                  </div>
                </div>
            </div><!-- Latest post end -->
          </div><!-- 2nd post col end -->
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="latest-post">
                <div class="latest-post-media">
                  <a href="#" class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="assets/cattocms/constra/images/benef/image2222.png" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a href="#" class="d-inline-block">A grandfather who never lost hope in his effort to see his grand daughter with new eyesight</a>
                  </h4>
                  <div class="latest-post-meta">
                      <span class="post-item-date">
                        <i class="fa fa-clock-o"></i> March 13, 2024
                      </span>
                  </div>
                </div>
            </div><!-- Latest post end -->
          </div><!-- 3rd post col end -->
      </div>
      <!--/ Content row end -->
  
      <div class="general-btn text-center mt-4">
          <a class="btn btn-primary" href="stories">See All Posts</a>
      </div>
  
    </div>
    <!--/ Container end -->
  </section>
{% endblock %}