{% extends 'templates/sampark_base.html' %}
{% block content %}
<div class="container mt-5" >
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Volunteer with Us</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12">
            <img src="assets/cattocms/constra/images/graphics/image3.png">
            <img src="assets/cattocms/constra/images/graphics/image7.png" alt="Why volunteer or why be a sathi? At Sampark Sathi, our volunteers are called Sathis, which means a friend who is there for you when you need them. A Sathi is more than just a helper; they are a trusted companion dedicated to supporting beneficiaries in every step of their journey. Here’s how a Sathi makes a difference:
            Guidance and Support: Sathis help beneficiaries understand and gather all the necessary documents and information they need.
            Accompaniment and Comfort: Sathis go with beneficiaries to visits, whether it's to an NGO, a government office, or a hospital, providing emotional support and making them feel comfortable.
            Empowerment and Advocacy: By being there, Sathis empower beneficiaries to confidently seek and receive the help they need, turning scary situations into manageable ones. 
            Personalized Assistance: Each Sathi understands the unique needs of the beneficiary and provides tailored support, making sure every concern is addressed efficiently.
            At Sampark Sathi, we believe everyone deserves a friend who stands by them in times of need. Our Sathis are that friend, dedicated to making a positive impact in the lives of those they serve.
            ">
            <img src="assets/cattocms/constra/images/graphics/image4.png" alt="Role of a volunteer(Sathi)-Facilitating the case/problem assigned by the organization. ⁠Working individually, in a team, or in a group on the given case.
            3.Verifying the case to ensure authenticity, either through slum visits or phone calls.Being a 'Sathi' to the beneficiary by assisting and supporting them throughout the case.⁠Engaging in respectful and responsive interactions with all stakeholders during field visits
            ">
            <p style="display: flex; justify-content: center;">
                <a  style="background-color: black; color: white;" href="https://docs.google.com/forms/d/e/1FAIpQLSdiTZuW6cCENxswFjWJLNq_sy8t3cS1ho8W65psDIMTe3nGAw/viewform" class="btn btn-primary mb-2">Volunteer Form</a>
            </p>
            <img src="assets/cattocms/constra/images/graphics/image5.png" alt="Role of a volunteer leader
            Recruit your team of volunteers.
            Engage your team in the organisation's volunteering activities such as resolving cases of the underprivileged.
            Be their guide/supervisor for resolving the cases.
            Continuously inspire them to do good in the society.
            Organise volunteer networking events along with coordination with other volunteer leaders
            Maintain a database of your team and cases resolved on regular basis.
            Maintain a data base of case resolved by your team on a regular basis.
            Collect feedback of volunteers on regular basis 
            ">
            <p style="display: flex; justify-content: center;">
                <a  style="background-color: black; color: white;"" href="https://docs.google.com/forms/d/e/1FAIpQLSeEM0MdyU_hGj7zAm-4j-rFtjSfvwXIMLX7T8eIpHP5SBzMTQ/viewform?usp=sf_link" class="btn btn-primary mb-2">Volunteer Leader Form</a>
            </p>
            
        </div>
    </div>
</div>
</body>
{% endblock %}