{% extends 'templates/sampark_base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Volunteer with Us</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12">
            <h3 >Why volunteer or why be a Sathi?</h3>
            <p>
                At Sampark Sathi, our volunteers are called "Sathis," which means a friend who is there for you when you need them. A Sathi is more than just a helper; they are a trusted companion dedicated to supporting beneficiaries in every step of their journey. Here’s how a Sathi makes a difference:
            </p>
            <ul>
                <li><strong>Guidance and Support:</strong> Sathis help beneficiaries understand and gather all the necessary documents and information they need.</li>
                <li><strong>Accompaniment and Comfort:</strong> Sathis go with beneficiaries to visits, whether it's to an NGO, a government office, or a hospital, providing emotional support and making them feel comfortable.</li>
                <li><strong>Empowerment and Advocacy:</strong> By being there, Sathis empower beneficiaries to confidently seek and receive the help they need, turning scary situations into manageable ones.</li>
                <li><strong>Personalized Assistance:</strong> Each Sathi understands the unique needs of the beneficiary and provides tailored support, making sure every concern is addressed efficiently.</li>
            </ul>
            <p>
                At Sampark Sathi, we believe everyone deserves a friend who stands by them in times of need. Our Sathis are that friend, dedicated to making a positive impact in the lives of those they serve.
            </p>
            <h4 class="h4">Role of a volunteer (Sathi)</h4>
            <ul>
                <li>Facilitating the case/problem assigned by the organization.</li>
                <li>Working individually, in a team, or in a group on the given case.</li>
                <li>Verifying the case to ensure authenticity, either through slum visits or phone calls.</li>
                <li>Being a 'Sathi' to the beneficiary by assisting and supporting them throughout the case.</li>
                <li>Engaging in respectful and responsive interactions with all stakeholders during field visits.</li>
            </ul>
            <p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdiTZuW6cCENxswFjWJLNq_sy8t3cS1ho8W65psDIMTe3nGAw/viewform" class="btn btn-primary mb-2">Volunteer Form</a>
            </p>
            <h4 class="h4 mt-4">Role of a volunteer leader</h4>
            <ul>
                <li>Recruit your team of volunteers.</li>
                <li>Engage your team in the organisation's volunteering activities such as resolving cases of the underprivileged.</li>
                <li>Be their guide/supervisor for resolving the cases.</li>
                <li>Continuously inspire them to do good in the society.</li>
                <li>Organise volunteer networking events along with coordination with other volunteer leaders.</li>
                <li>Maintain a database of your team and cases resolved on a regular basis.</li>
                <li>Maintain a database of cases resolved by your team on a regular basis.</li>
                <li>Collect feedback from volunteers on a regular basis.</li>
            </ul>
            <p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeEM0MdyU_hGj7zAm-4j-rFtjSfvwXIMLX7T8eIpHP5SBzMTQ/viewform?usp=sf_link" class="btn btn-primary mb-2">Volunteer Leader Form</a>
            </p>
            
        </div>
    </div>
</div>
</body>
{% endblock %}