{% extends 'templates/sampark_base.html' %}

{% block content %}

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 mb-5 mb-lg-0">
        <div class="post">
          <div class="post-media post-image">
            <img loading="lazy" src="/assets/cattocms/constra/images/benef/image3.jpg" class="img-fluid" alt="post-image">
          </div>

          <div class="post-body">
            <div class="entry-header">
              <div class="post-meta">
                <span class="post-author">
                  <i class="far fa-user"></i>Admin
                </span>
                <span class="post-cat">
                  <i class="far fa-folder-open"></i>News
                </span>
                <span class="post-meta-date"><i class="far fa-calendar"></i> June 14, 2016</span>
              </div>
              <h2 class="entry-title">
                A Ray of Hope: Surekhan Devi's Visionary Journey with Sathi Khushi
              </h2>
            </div><!-- header end -->

            <div class="entry-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur ...</p>
            </div>
          </div><!-- post-body end -->
        </div><!-- 1st post end -->

        <div class="post">
            <div class="post-media post-image">
              <!-- Change the url -->
              <img loading="lazy" src="/assets/cattocms/constra/images/benef/image3.jpg" class="img-fluid" alt="post-image">
          </div>

          <div class="post-body">
            <div class="entry-header">
              <div class="post-meta">
                <span class="post-author">
                  <i class="far fa-user"></i> Admin
                </span>
                <span class="post-cat">
                  <i class="far fa-folder-open"></i>News
                </span>
                <span class="post-meta-date"><i class="far fa-calendar"></i> June 14, 2016</span>
              </div>
              <h2 class="entry-title">
               A grandfather who never lost hope in his effort to see his grand daughter with new eyesight
              </h2>
            </div><!-- header end -->

            <div class="entry-content">
              <p>Banshita, a five-year-old girl who resides in Shalimar Bagh Jhuggi with her parents and grandfather. After seeing a lump in her right eye, the family raised a concern 
                with the Sampark Sathi Foundation, since the father was unable to shell out a lot of money for a proper check-up and consultation session from our 
                NGO partner Dr shroff Charitable Trust. After a thorough check-up, the doctor confirmed that she had a cyst (a small lump or swelling in the eyelid) 
                in her right eye. Throughout the course of treatment and medication, her grandfather along with the Sathi Anjali was by her side. The operation 
                eventually happened and She was discharged the same day and elated at the outcome. She is doing great.
            </p>
            </div>

          </div><!-- post-body end -->
        </div><!-- 2nd post end -->

      </div><!-- Content Col end -->

    </div><!-- Main row end -->

  </div><!-- Container end -->
</section><!-- Main container end -->

{% endblock %}