{% extends 'templates/sampark_base.html' %}

{% block content %}

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 mb-5 mb-lg-0">
        <div class="post">
          <div class="post-media post-image">
            <img loading="lazy" src="/assets/cattocms/constra/images/benef/image3.jpg" width="300" height="400" class="img-fluid" alt="post-image" style="max-height: 300px; width: auto;">
          </div>
          <div class="post-body">
            <div class="entry-header">
              <div class="post-meta">
                <span class="post-author">
                  <i class="far fa-user"></i>Admin
                </span>
                <span class="post-cat">
                  <i class="far fa-folder-open"></i>News
                </span>
                <span class="post-meta-date"><i class="far fa-calendar"></i> June 14, 2024</span>
              </div>
              <h2 class="entry-title">
                A Ray of Hope: Surekhan Devi's Visionary Journey with Sathi Khushi
              </h2>
            </div><!-- header end -->

            <div class="entry-content">
              <p>Surekhan Devi, a 54-year-old resident of Muzaffarpur, Bihar, had been living in isolation for about a year due to advanced cataracts in both her eyes. She couldn't see or communicate. Devender, her caring nephew, conveyed her needs as she only responded to him.
                 On the day of surgery, under the compassionate care of Sathi, Khushi and the team of doctors, Surekhan Devi, previously uncooperative, remained calm and cooperative. After a successful surgery, her smile and newfound ability to speak spoke volumes of her happiness and satisfaction. T
                 his transformation highlights how extending a helping hand can bring people out of darkness. It was a challenging journey, but her smile made it all worthwhile for our Sathi. This transformation highlights how extending a helping hand can bring people out of darkness.</p>
            </div>
          </div><!-- post-body end -->
        </div><!-- 1st post end -->

        <div class="post">
            <div class="post-media post-image">
              <!-- Change the url -->
              <img loading="lazy" src="/assets/cattocms/constra/images/benef/image2222.png" class="img-fluid" alt="post-image" style="max-height: 300px; width: auto;">
          </div>

          <div class="post-body">
            <div class="entry-header">
              <div class="post-meta">
                <span class="post-author">
                  <i class="far fa-user"></i> Admin
                </span>
                <span class="post-cat">
                  <i class="far fa-folder-open"></i>News
                </span>
                <span class="post-meta-date"><i class="far fa-calendar"></i> June 14, 2023</span>
              </div>
              <h2 class="entry-title">
               A grandfather who never lost hope in his effort to see his grand daughter with new eyesight
              </h2>
            </div><!-- header end -->

            <div class="entry-content">
              <p>Banshita, a five-year-old girl who resides in Shalimar Bagh Jhuggi with her parents and grandfather. After seeing a lump in her right eye, the family raised a concern 
                with the Sampark Sathi Foundation, since the father was unable to shell out a lot of money for a proper check-up and consultation session from our 
                NGO partner Dr shroff Charitable Trust. After a thorough check-up, the doctor confirmed that she had a cyst (a small lump or swelling in the eyelid) 
                in her right eye. Throughout the course of treatment and medication, her grandfather along with the Sathi Anjali was by her side. The operation 
                eventually happened and She was discharged the same day and elated at the outcome. She is doing great.
            </p>
            </div>

          </div><!-- post-body end -->
        </div><!-- 2nd post end -->
        <div class="post">
          <div class="post-media post-image">
            <!-- Change the url -->
            <img loading="lazy" src="/assets/cattocms/constra/images/benef/image10.jpg" class="img-fluid" alt="post-image" style="max-height: 300px; width: auto;">
        </div>

        <div class="post-body">
          <div class="entry-header">
            <div class="post-meta">
              <span class="post-author">
                <i class="far fa-user"></i> Admin
              </span>
              <span class="post-cat">
                <i class="far fa-folder-open"></i>News
              </span>
              <span class="post-meta-date"><i class="far fa-calendar"></i> June 16, 2024</span>
            </div>
            <h2 class="entry-title">
              Breaking Barriers: Abdul's journey to Mobility
            </h2>
          </div><!-- header end -->

          <div class="entry-content">
            <p>Abdul, an eight-year-old facing early-life challenges, battled seizures and physical weakness, rendering him unable to walk. 
              Residing in Gorakhpur, Uttar Pradesh, his family struggled on his father's meager income of ten thousand rupees as a carton taper. 
              In their desperate circumstances, they needed help and when they reached out to  Sampark Sathi Foundation, Anurag became the Sathi of Abdul and helped him get  a life-changing wheelchair from ALIMCO providing him a newfound chance at a more comfortable childhood.
          </p>
          </div>

        </div><!-- post-body end -->
      </div><!-- 3nd post end -->
      <div class="post">
        <div class="post-media post-image">
          <!-- Change the url -->
          <img loading="lazy" src="/assets/cattocms/constra/images/benef/image9.jpg" class="img-fluid" alt="post-image" style="max-height: 300px; width: auto;">
      </div>

      <div class="post-body">
        <div class="entry-header">
          <div class="post-meta">
            <span class="post-author">
              <i class="far fa-user"></i> Admin
            </span>
            <span class="post-cat">
              <i class="far fa-folder-open"></i>News
            </span>
            <span class="post-meta-date"><i class="far fa-calendar"></i> June 14, 2024</span>
          </div>
          <h2 class="entry-title">
            New skill learned new hope earned 
          </h2>
        </div><!-- header end -->

        <div class="entry-content">
          <p>Our enduring mission revolves around empowering underserved individuals to achieve self-sufficiency. Collaborating with the National Skill Development Council, our dedicated team of Sathis - Akash, Shivani, Anjali, Siddhi, and Sushant - has successfully facilitated the training and certification of 45 young women from Burari in Beauty and Cosmetic services. 
            This certification marks a crucial step for these women, opening doors to a future beyond their current circumstances, allowing them to pursue their aspirations with newfound confidence. As they embark on this transformative journey, our commitment to supporting them at every stage remains unwavering.
        </p>
        </div>

      </div><!-- post-body end -->
    </div><!-- 4th post end -->
    <div class="post">
      <div class="post-media post-image">
        <!-- Change the url -->
        <img loading="lazy" src="/assets/cattocms/constra/images/benef1.jpg" class="img-fluid" alt="post-image" style="max-height: 300px; width: auto;">
    </div>

    <div class="post-body">
      <div class="entry-header">
        <div class="post-meta">
          <span class="post-author">
            <i class="far fa-user"></i> Admin
          </span>
          <span class="post-cat">
            <i class="far fa-folder-open"></i>News
          </span>
          <span class="post-meta-date"><i class="far fa-calendar"></i> June 5, 2023</span>
        </div>
        <h2 class="entry-title">
          Rehabilitation of a Young Man from the Grip of Drug Addiction
        </h2>
      </div><!-- header end -->

      <div class="entry-content">
        <p>Rahul Sharma(name changed) is a 23-year-old man residing in North West Delhi. His family consists of three brothers, a mother, and a father. His father is the breadwinner in the family. 
          Rahul was addicted to heroin for 4 years. He was treated in Ghaziabad in a private organization but there was no improvement as such. When Sampark Sathi Foundation got this case, the assigned Sathi Akash Singh Saroha admitted his beneficiary to a Drugs De-addiction and Rehabilitation center (SPYM)  for free where he is recovering very fast. 
          The center is run by the Govt of India in collaboration with our NGO partner and he is being looked after by doctors from AIIMS. 
      </p>
      </div>

    </div><!-- post-body end -->
  </div><!-- 5thpost end -->
  <div class="post">
    <div class="post-media post-image">
      <!-- Change the url -->
      <img loading="lazy" src="/assets/cattocms/constra/images/benef/image20.jpg" class="img-fluid" alt="post-image" style="max-height: 300px; width: auto;">
  </div>

  <div class="post-body">
    <div class="entry-header">
      <div class="post-meta">
        <span class="post-author">
          <i class="far fa-user"></i> Admin
        </span>
        <span class="post-cat">
          <i class="far fa-folder-open"></i>News
        </span>
        <span class="post-meta-date"><i class="far fa-calendar"></i> July 26, 2024</span>
      </div>
      <h2 class="entry-title">
        A relentless sister held onto his little brother at the time of adversity and helped him get access to the best treatment possible.
      </h2>
    </div><!-- header end -->

    <div class="entry-content">
      <p>Little Alok was diagnosed with epilepsy. He had seizure attacks thrice within a span of six months. The family did not have enough to spend on his treatment. Several hospitals have turned their back stating no bed or treatment for this poor kid. One hospital asked for the MRI which was something his family could not afford. And the treatment was impossible without the report. Even the medicines prescribed were out of stock in the Government Hospitals. It was his persistent sister Jyoti who reached out to Sampark Sathi Foundation. When the organisation got to know about the situation, Afham, our Sathi went for the preliminary verification.
        After the verification, our partner, Sapna NGO took care of the case and now he is getting every possible help which the child was not getting. Alok is recovering in a right way and we are thankful to our partner ngo for helping Alok in getting access to better healthcare facilities.
        </p>
    </div>

  </div><!-- post-body end -->
</div><!-- 6thpost end -->
<div class="post">
  <div class="post-media post-image">
    <!-- Change the url -->
    <img loading="lazy" src="/assets/cattocms/constra/images/benef/image21.jpg" class="img-fluid" alt="post-image" style="max-height: 300px; width: auto;">
</div>

<div class="post-body">
  <div class="entry-header">
    <div class="post-meta">
      <span class="post-author">
        <i class="far fa-user"></i> Admin
      </span>
      <span class="post-cat">
        <i class="far fa-folder-open"></i>News
      </span>
      <span class="post-meta-date"><i class="far fa-calendar"></i> June 14, 2024</span>
    </div>
    <h2 class="entry-title">
      Assistance by Afham (beneficiary's Sathi) made Kamal Ji get access to the right pair of prosthetics, which helps him walk independently.
    </h2>
  </div><!-- header end -->

  <div class="entry-content">
    <p>While the world was in the grips of a deadly virus, Kamal Ji was fighting his own battle. Losing a leg to a deadly infection during that time meant settling for a prosthetic leg beyond his capacity. Living in Jhuggi, Jahangirpuri, Kamal ji was grateful for the prosthetic leg he received from an NGO during a time when it would have been impossible to receive any treatment. But the prosthetic limb proved to be more trouble than assistance.Lifting an 8-kg prosthetic limb was taking a toll on him. This made him reach out to the Sampark Sathi Foundation. Our Sathi Afham assisted him in finding a leg that he was comfortable with, along with advanced features to make his life a little easier.Looking at his new prosthetic leg, he was grateful and full of praise for the Afham and Sampark Sathi Foundation.
      “ I am extremely happy that I could contribute a little to Kamal Ji's happiness. It felt great to help someone in need. Working with the Sampark Sathi Foundation has been an enriching experience for me, and I have acquired great skills.”
    </p>
  </div>

</div><!-- post-body end -->
</div><!-- 7th post end -->
<div class="post">
  <div class="post-media post-image">
    <!-- Change the url -->
    <img loading="lazy" src="/assets/cattocms/constra/images/benef/image45.jpg" class="img-fluid" alt="post-image" style="max-height: 300px; width: auto;">
</div>

<div class="post-body">
  <div class="entry-header">
    <div class="post-meta">
      <span class="post-author">
        <i class="far fa-user"></i> Admin
      </span>
      <span class="post-cat">
        <i class="far fa-folder-open"></i>News
      </span>
      <span class="post-meta-date"><i class="far fa-calendar"></i> June 14, 2023</span>
    </div>
    <h2 class="entry-title">
      A Stick  of Support in Times of Adversity, Paving the Way to Independence
    </h2>
  </div><!-- header end -->

  <div class="entry-content">
    <p>This is the story of Mehak. Mehak had lost her father when she was young, her mother and brother lived with their nanaji since they had no one to turn to. A significant need for school books was what made her reach out to Sampark Sathi Foundation. 
      Our Sathis were up to the task and provided her with the necessary materials required to save her from being kicked out from school.So when her grandfather needed a walking stick, she relied on her relationship with us and reached out. Mehak’s family conditions seem to portray a never ending queue of problems but her will to fight against all odds and make the best with what she has is what makes us look upto her.
      </p>
  </div>

</div><!-- post-body end -->
</div><!-- 8th post end -->
      

      </div><!-- Content Col end -->

    </div><!-- Main row end -->

  </div><!-- Container end -->
</section><!-- Main container end -->

{% endblock %}
