{% extends 'templates/sampark_base.html' %}

{% block content %}
<div class="container">
<br>
<h2 style="text-align: center;">Raise a Concern</h2>
  <div class="concernform">
    <p style="text-align: center;">Ever felt helpless when someone needed support? <br> Now you can make a difference! Share the details, and we'll connect them with the right resources.</p>

    <iframe src="https://{{site_name}}/raise-a-concern" style="border: none; width: 100%; height: 740px;"></iframe>
  </div>
<br>
</div>

{% endblock %}